[2015-09-07 23:39] stevepiercy opened #1 "rename repo to pylonsprojectorg"
Names are important. "pylonsprojectorg" is explicit. "ppo" means "Preferred Provider Organization" to me, or nothing. Brevity is bad in this case, especially because it took me a long time to figure out how pylonshq, pylonsrtd, and each project's documentation were intertwined. [I still can't get it right!](https://github.com/Pylons/pylonsrtd/issues/44#issuecomment-135599956) :stuck_out_tongue_win

[2015-12-12 20:30] stevepiercy commented on #1
@blaflamme Pretty please?

[2015-12-12 21:05] mmerickel commented on #1
Repos can have dots in them. I'd just name one pylonsproject.org and one
trypyramid.com.

On Saturday, December 12, 2015, Steve Piercy <notifications@github.com>
wrote:

[2015-12-12 21:29] stevepiercy commented on #1
Even better! TIL.

I do not have sufficient privileges to manage repos under Pylons.

[2015-12-12 21:44] blaflamme commented on #1
I still prefer short names than super long names and for website projects I tend to avoid at all costs the use of domain names. Under each repos we also have a description that tells people what's the purpose of the project, so I doubt we'll have any confusion here and we'll probably be the only ones who'll use the repo :P

[2015-12-12 22:07] stevepiercy commented on #1
I understand we're you're coming from, but in this case I disagree. Let's use explicit names for the following reasons.

* When the repo name and URL align, that helps support SEO, marketing, and branding.
* I had a difficult time sorting out pylonshq, pylonsrtd, and so on. That hurt in many ways.
* Let's make it easy to figure out the project's purpose by its name and URL only. That's good market

[2016-01-02 18:36] stevepiercy commented on #1
Actually www.pylonsproject.org would be even better than plain old pylonsproject.org, and would disambiguate it from docs.pylonsproject.org. Let's do that.

[2016-01-03 16:49] #1 closed

[2016-01-04 20:19] stevepiercy opened #2 "Add contributing.md to document how to contribute"

[2016-01-04 20:20] stevepiercy opened #3 "Add contributors.md for contributors to sign"

[2016-01-04 20:26] blaflamme commented on #3
https://github.com/Pylons/pylonsproject.org/commit/a1613774c32c74170e49ad4c8c37e11283162b99

[2016-01-04 20:26] #3 closed

[2016-01-04 20:26] blaflamme commented on #2
https://github.com/Pylons/pylonsproject.org/commit/a1613774c32c74170e49ad4c8c37e11283162b99

[2016-01-04 20:26] #2 closed

[2016-01-04 20:36] stevepiercy opened #4 "Set up email aliases and accounts *@pylonsproject.org"
We need to have email addresses registered for every service we use under the Pylons Project. Please add services, addresses, and recipients (omit actual email addresses from the list, using instead GitHub handles).

| Twitter | Email Alias/Account | Recipients |
| --- | --- | --- |
| @PylonsProject (renamed from @Pylons) | PylonsProject@ PylonsProject.twitter@ | Pylons Project marketing group (@s

[2016-01-04 20:40] stevepiercy commented on #4
Should we rename @pylons to @pylonsweb in order to avoid ambiguity?

[2016-01-04 21:31] blaflamme commented on #4
Since the base account is pylons@pylonsproject.org it would be better pylonsweb

[2016-01-04 21:43] stevepiercy commented on #4
What is the email address pylons@pylonsproject.org used for?

[2016-01-04 21:45] blaflamme commented on #4
It's just the internal real address where it gets everything so at the same time we'll have a backup of all communications accessible via the webmail.

[2016-01-05 06:01] blaflamme commented on #4
@stevepiercy there is just one email account (pylons@pylonsproject.org), we don't need more since we can create aliases and dispatch to our own email accounts. At the same time all messages go through this account, so anyone could have access to all messages sent to aliases if there's a need for.

[2016-01-05 07:14] stevepiercy commented on #4
@blaflamme are you saying that every alias forwards a copy of each message that it receives to pylons@pylonsproject.org as well as the other specified recipients above? If so, we should document that, too.

[2016-01-05 10:41] stevepiercy opened #7 "Site Map v1.0"
This issue describes the proposed organization of the website for its 1.0 launch.

Please discuss and add your comments.
# Primary Navigation
- [x] Home
- [x] Projects
- [x] Community
- [x] About
# Secondary Navigation
## Projects
- [x] Pyramid
- [x] WebOb
- [x] SubstanceD
## Community
- [x] [Participate](http://www.pylonsproject.org/community/how-to-participate)
- [x] [Contribute](http://www.pylo

[2016-01-05 15:00] blaflamme commented on #4
@stevepiercy yes it does

[2016-10-13 18:51] stevepiercy opened #10 "Include space for sponsors"
JetBrains gives FOSS licenses to the core contributors of Pylons Project projects. We should acknowledge their support of FOSS.

See https://github.com/Pylons/trypyramid.com/issues/194

[2016-10-13 18:57] stevepiercy commented on #10
Here is some content:
http://docs.pylonsproject.org/projects/pyramid_cookbook/en/latest/development_tools/pycharm.html#install-pycharm

And a logo:
https://www.jetbrains.com/company/press/?fromMenu

[2016-12-06 13:10] stevepiercy opened #14 "Use GitHub API for each project"
The [GitHub API](https://developer.github.com/v3/) provides a wealth of information about each repo, which we could use to avoid manual entry of data.

The API has rate limiting, so caching would be necessary.

[2016-12-06 13:16] JanLikar commented on #7
I'm working on "about".

[2016-12-06 13:18] zupo commented on #7
I'm continuing with "Contribute".

[2016-12-06 13:49] zupo commented on #7
Onward to "Code of Conduct".

[2016-12-06 15:06] zupo opened #19 "Accessibility of links"
@livike suggested we should do something else to the styling of links in the content area. And I agree completely. Having them painted blue makes them indistinguishable from normal text for people with visual impairments. We need to either bold them, underline them or something else.

[2016-12-06 15:16] blaflamme commented on #19
yes this is something I'll work on

[2016-12-07 08:31] zupo commented on #7
Which projects should be under Projects? All currently listed on index of upcoming.pylonsproject.org?

[2016-12-07 11:48] stevepiercy commented on #7
You can get a list of all Pylons projects by either:
* https://api.github.com/orgs/Pylons/repos
* https://github.com/Pylons

One could use the GitHub API to get the data, and cache results to avoid API rate limiting.

I think we don't want to exclude any repos now, unless it's clearly not appropriate to include, such as a few throwaway or aborted Pylons repos.

Curation of the repos might include:

[2016-12-07 12:15] zupo commented on #7
1.) Why do we need rate limiting? The API is queried only at build time, which only happens once every few days/weeks.

2.) I don't understand what you mean with "curation".

[2016-12-07 12:16] zupo commented on #7
What is next? What else needs to be done?

[2016-12-07 12:31] stevepiercy commented on #7
1. For example, to get stats, or recent PRs or issues. Some things, like the repo list, rarely change, so build time is fine for that.
1. For example, Pylons is in maintenance mode, deform lacked a maintainer for a while, and pyramid_xmlrpc is no longer maintained in favor of pyramid_rpc. You can't get that information from an API, so a human must curate the projects. Further, pyramid_xmlrpc might

[2016-12-07 12:39] stevepiercy commented on #7
1. [Check the boxes](https://github.com/Pylons/pylonsproject.org/issues/7#issue-124939859) and see what's left?
1. Deployment: @blaflamme can you reuse my public key from trypyramid.com? I have not tried yet.
1. Decide whether to flip the switch on DNS for www to point to the new site. Personally I think it's fine to move forward and switch DNS. If there's any straggling information out there, we

[2016-12-07 12:48] zupo commented on #7
3. https://github.com/Pylons/pylonsproject.org/pull/21 needs to be merged and we need to add the /about-pylons-framework.html page, then I am +1 for flipping the DNS switch

[2016-12-07 12:49] zupo commented on #7
1. Ah didn't realize I have the permissions to check them. Did not have it yesterday and did not re-check.

[2016-12-07 12:49] zupo commented on #7
About curated projects: something like what we have on powered by pyramid page makes a ton of sense for me. A curated list with basic info, then for each one stats are pulled from github.

[2016-12-07 13:00] blaflamme commented on #7
@stevepiercy yes you can deploy since it uses the same setup and info than for trypyramid.com

I don't think we want too much projects under the projects menu, and best would probably be to have a separate page for all projects instead of having a partial listing in the menu. And by `all projects` I mean active or `worth to be there` projects. There are too many repos under our Github account and

[2016-12-07 13:02] zupo commented on #7
This is what I meant: https://github.com/Pylons/trypyramid.com/blob/master/src/templates/community-powered-by-pyramid.json

Then each project can have ``display_in_nav`` and ``display_on_index`` to toggle displaying it in prominent positions. And all of them are displayed on /projects.html.

[2016-12-07 13:02] zupo commented on #7
Connecting with GitHub API should probably be a different ticket though.

[2016-12-07 13:08] blaflamme commented on #7
yes I got that and it's a good idea. However I'm not sure about having project in nav if we have that page and list main projects on the home page... Pyramid and Webob could be, probably, but still...

[2016-12-07 13:16] zupo commented on #7
This is how I would do it:

Nav: Pyramid, WebOb, Waitress, All Projects
Front page: Up to 10 most important, plus link to Project page
Projects page: All project (that are in .json file)

[2016-12-07 13:16] zupo commented on #7
Maybe have another flag ``deprecated``.

[2016-12-07 13:17] blaflamme commented on #7
@zupo looks like a good plan

[2016-12-07 13:18] blaflamme commented on #7
@zupo look at trypyramid to add support for the projects page

[2016-12-07 13:24] stevepiercy commented on #7
I like `display_on_index` (I assume this would be the home page).

I'm unsure about `display_in_nav` due to potentially long list. I trust your judgment. We can always tweak it later.

Projects page sounds good.

[2016-12-07 13:32] zupo commented on #7
OK, will start working on this.

[2016-12-07 13:36] stevepiercy commented on #7
#21 is merged

[2016-12-07 22:53] ikolar commented on #14
Talked with @zupo and prepared a patch against his automatic_projects branch. Thanks in advance for taking the time to review it.

Pull request: https://github.com/Pylons/pylonsproject.org/pull/24
Preview: http://imgur.com/a/pT7dy (I can tweak the html/css some more if needed)

[2016-12-08 11:13] stevepiercy opened #26 "Sign Contributors.md"
Would you please sign [CONTRIBUTORS.md](https://github.com/Pylons/pylonsproject.org/blob/master/CONTRIBUTORS.md)?

- [ ] @livike
- [ ] @JanLikar

Thank you!

[2016-12-08 20:21] blaflamme opened #28 "redirects for upcoming deployment to prod"
Here's a list of current URLs that need a new mapping:

| Current | New |
|---------|------|
| /about | /about-pylons.html |
| /about/pylons | /about-pylons.html |
| /about/history | /history.html |
| /about/license | /license.html |
| /projects | /projects.html |
| /projects/pyramid/about | https://trypyramid.com |
| /projects/pyramid/faq | https://trypyramid.com |
| /projects/pyramid/download |

[2016-12-08 23:29] stevepiercy opened #29 "Project navigation links are disorienting"
- [x] Remove Projects submenu, and make link go to /projects.html.
- [x] ~I was disoriented when I clicked on links under Projects, and was taken to another site altogether. I expect a warning or indicator that I'm going to a different website when a link is in the navigation. I understand that we originally wanted a full page for each project on pylonsproject.org, but we just don't have enough co

[2016-12-09 02:46] blaflamme commented on #29
What I propose is to have no submenu under projects and go directly to the projects page, or if we keep the submenu we can add an icon to the right to show it's an external link. But we already have the main projects on the home page, a pyramid featured section, and the projects page, I don't see the need to have them displayed in the submenu.

[2016-12-09 06:44] stevepiercy commented on #29
I prefer removal of the submenu, too. Updated checklist.

[2016-12-09 07:18] stevepiercy commented on #28
Suggested changes.

# Rename
/about-pylons.html -> /about-pylons-project.html to be consistent with page title and purpose, and to disambiguate between the project and framework.

# Redirect
/about/history -> /about-pylons-framework.html

# Merge content
Move content from /history.html into /about-pylons-framework.html and delete /history.html. The label on the old site (About/Pylons Project) is m

[2016-12-09 14:37] blaflamme commented on #28
@stevepiercy +1 for this, will do next.

[2016-12-09 14:38] blaflamme commented on #29
@stevepiercy will work on this too... btw point #3 will be resolved when #1 is done.

[2016-12-09 15:20] blaflamme commented on #28
Done

[2016-12-09 15:20] #28 closed

[2016-12-09 15:20] blaflamme commented on #29
Done

[2016-12-09 15:20] #29 closed

[2016-12-09 15:22] blaflamme commented on #19
Links are now in lighter blue, so impaired people can see it as a shade of grey or other color, and they have underline on hover.

[2016-12-10 21:33] stevepiercy opened #30 "add HTTPS"
Let's Encrypt, y'all!

[2016-12-10 21:46] stevepiercy commented on #4
@goodwillcoding please hit me up in IRC to take care of changing the Twitter handle for pylons to pylonsproject.

[2016-12-10 22:13] blaflamme commented on #30
I'll do it

[2016-12-10 23:00] stevepiercy commented on #4
@blaflamme I also changed the table at the top. I've found that it's a lot of work to maintain active Twitter accounts, and there is a lot of duplication of posts, so I removed Twitter handles that were proposed at one time.

`@Pylons` should be renamed ``@PylonsProject`, because that is what it has evolved into as far as content, and no one really follows @Pylons for the Pylons web framework.

[2017-01-03 17:21] bertjwregeer opened #35 "Link to the pylons-discuss ML is broken"
As posted on IRC:

[code]

[2017-01-03 18:26] stevepiercy commented on #35
This was fixed in 401df92819b56585a90d258606a43df3f7db1f8b but not deployed to production.

[2017-01-04 18:53] stevepiercy commented on #35
@blaflamme I can't push to production. My public key does not work for the remote repo:

[code]

I was able to ``git push --tags``, but that's as far as I could go.

[2017-01-04 20:57] blaflamme commented on #35
@stevepiercy weird thing, the user/access is the same for both trypyramid.com and pylonsproject.org repos. Can you try both again and get back to me?

[2017-01-04 21:18] stevepiercy commented on #35
@blaflamme still not working. I'm traveling using my previous MBP. That might have something to do with it. Should I resend you my public key?

[2017-01-07 20:00] stevepiercy commented on #35
I figured it out. I needed to configure ssh to use a specific local private key.

Closing as this is now pushed to production.

[2017-01-07 20:00] #35 closed

[2017-01-07 20:02] stevepiercy commented on #19
The links are much more distinguishable now. Closing.

[2017-01-07 20:02] #19 closed

[2017-01-07 20:04] stevepiercy commented on #7
This was completed at DragonSprint

[2017-01-07 20:04] #7 closed

[2017-01-07 20:20] blaflamme commented on #35
@stevepiercy great! I'm glad you figured it out :)

[2017-01-17 03:33] ikolar commented on #10
Hey, would either of [these two](http://imgur.com/a/B6R2x) work? The firrst has a jetbrains logo on the main page, the second mentions PyCharm in the "How to participate" sub page.

[2017-01-17 11:15] stevepiercy commented on #10
Hi @ikolar, we discussed in [IRC](https://botbot.me/freenode/pyramid/2017-01-17/?msg=79472065&page=1). We don't know yet how we want to implement recognition of sponsors, contributors, and others. We need to think about it some more, which may include new pages.

[2017-01-17 16:50] ikolar commented on #10
Ok, thanks.

[2017-03-09 21:43] stevepiercy commented on #4
After a [discussion with @mmerickel, @goodwillcoding, and others on IRC a couple of weeks ago](https://botbot.me/freenode/pyramid/2017-02-24/?msg=81517507&page=3), I'm considering a discontinuation of the twitter handle `@TryPyramid`, and telling users to follow `@PylonsProject` instead, after changing `@Pylons` to `@PylonsProject`. Here's why:

* There is a significant majority overlap in both us

[2017-03-12 08:11] stevepiercy commented on #4
@blaflamme I currently use email aliases that point to my personal domain `stevepiercy.com` for `@TryPyramid` and `@Pylons`, and they should have aliases under the domain `pylonsproject.org`.

Additionally I have reduced the Twitter handles down to 1 active (`@PylonsProject`) and two archival (`@TryPyramid` and `@Pylons`). Twitter requires a unique email address per account, unfortunately. For con

[2017-03-12 14:38] blaflamme commented on #4
@stevepiercy done, I'll keep others for some time.

[2017-03-12 17:44] stevepiercy commented on #4
Thank you! I'll close this issue.

refs: https://github.com/Pylons/hosted-services/

[2017-03-12 17:44] #4 closed

[2017-03-12 17:45] stevepiercy commented on #26
Ping @livike

[2017-03-12 19:09] stevepiercy opened #41 "Migrate content from pylonsrtd to pylonsproject.org"
See: https://github.com/Pylons/pylonsrtd/issues/65

[2017-03-13 06:04] stevepiercy opened #42 "Twitter widgets"
We used to have a Twitter widget on the home page, but there were problems with rate limiting and caching when we used the API. We could use the web widgets instead. I don't know where would be a good spot, perhaps at the end of the home page? On a new separate page?

[Twitter Timeline](https://dev.twitter.com/web/embedded-timelines)
[code]

[Twitter Follow Button](https://dev.twitter.com/web/foll

[2017-03-17 23:06] stevepiercy commented on #10
I think the best option is a new page. Then we don't have to contend with a page's existing layout, and gives us a fairly blank canvas to work on. I also like a separate URL that we can give out to sponsors, both current and potential.

@blaflamme do you have any feedback before I take this one on?

We have Rackspace and JetBrains as sponsors. Any others?

[2017-03-17 23:07] stevepiercy commented on #30
@blaflamme can you take care of this one, or is it something I can do?

[2017-03-17 23:09] stevepiercy commented on #42
@blaflamme do you have any preference as to whether:

1. we use Twitter API versus a widget?
2. its placement?

I really want to push Twitter as a communication channel.

[2017-03-18 04:12] blaflamme commented on #10
Linode for the hosting

[2017-03-18 04:13] blaflamme commented on #30
@stevepiercy yes I can

[2017-03-18 04:15] blaflamme commented on #42
@stevepiercy a widget will be easier to add, lets see where it can go. The format will hardly fits the main page OTOH.

[2017-03-18 14:15] stevepiercy commented on #42
@blaflamme I think a new page is needed, Contact. It can include widgets for Twitter, IRC, and the Google Group. I am debating whether it should go under Community or About. I'm leaning toward About.

Also what do you think about having a Twitter follow button in the footer sitewide?

IRC

[code]

Google Group snippet

[code]

[2017-03-18 14:17] stevepiercy commented on #10
For the new page, Sponsors, I think it should go under Community navigation item.

[2017-03-18 15:05] blaflamme commented on #42
@stevepiercy it all make sense

[2017-03-19 09:22] stevepiercy opened #43 "Content duplicated on Home and About Pylons Project"
The content at the bottom of the [home page](http://pylonsproject.org/) and on [About Pylons Project](http://pylonsproject.org/about-pylons-project.html) are duplicitous.

We should replace the content on the bottom of the home page with something unique.

[2017-03-19 10:50] stevepiercy commented on #10
@blaflamme I lack the information to complete a request for a Powered by Rackspace logo. Can you please fill out the form, and forward the artwork to me?
https://www.rackspace.com/forms/logorequest

Also what do each of Linode and Rackspace provide to us?

[2017-03-19 11:12] stevepiercy commented on #10
@blaflamme also if you have referral links where our account can receive credits, then I'd like to use them on this page.

[2017-03-19 11:59] stevepiercy commented on #42
@blaflamme have a look. The Contact page is not that great looking, but I think it works.

[2017-03-19 16:46] blaflamme commented on #43
I think we should have something more elaborated on the about page and keep the summary on the home page. I think there is far more to say.

[2017-03-19 16:50] blaflamme commented on #10
@stevepiercy ATM only webob is still powered by Rackspace if I recall and I'll move it over Linode as soon as I have a bit of time. Then nothing will remain on Rackspace, and it's a bit odd since each year they never remember the OSS free thingy and I got billed and then they have to figure out, and so on... I suspect it will end sooner than later without any notice, so probably wiser to just drop

[2017-03-19 20:09] stevepiercy commented on #43
OK, I'm also reviewing content from the [pylonsrtd repo](https://github.com/Pylons/pylonsrtd/issues/65) to see what should be moved over.  There's probably something good in there.

[2017-03-19 20:40] stevepiercy commented on #10
Who pays for the Rackspace hosted email?

Who pays for the DNS, domain name registration?

Whoever pays for these services is a sponsor, whether they want to admit it. :wink:

Are there any other services, products, or contributions we receive?

[2017-03-19 20:51] blaflamme commented on #10
I pay for domain names and hosted emails, DNS is provided by Linode.

[2017-03-19 20:56] stevepiercy commented on #10
Would you like to receive acknowledgment for your financial contribution, or remain silent?

[2017-03-19 21:44] blaflamme commented on #10
no need... we're a lot in this project who are giving money or time, the important part is having this project rocking!

[2017-03-19 22:54] stevepiercy commented on #10
OK. I'm closing this issue as completed.

[2017-03-19 22:54] #10 closed

[2017-03-19 23:10] stevepiercy commented on #43
Closed by #49

[2017-03-19 23:10] #43 closed

[2017-03-19 23:10] stevepiercy commented on #42
This is done: http://pylonsproject.org/about-contact.html

[2017-03-19 23:10] #42 closed

[2017-03-25 09:36] stevepiercy commented on #41
## Pylons Project Dark Blue
* Hex: #1b478f
* RGB: 27, 71, 143
* HSL: 217.24°, 81.12%, 56.08%
* CMYK: 99.46%, 83.13%, 12.09%, 1.9%

## Pylons Project Light Blue
* Hex: #1b75bb
* RGB: 27, 117, 187
* HSL: 206.25°, 85.56%, 73.33%
* CMYK: 85.1%, 49.95%, 0.43%, 0%

[2017-03-27 08:50] stevepiercy commented on #41
All items for pylonsproject.org are now completed.

[2017-03-27 08:50] #41 closed

[2017-03-28 09:02] stevepiercy commented on #30
https://pylonsproject.org currently loads the content of https://trypyramid.com/ This is bad.

[2017-03-28 20:00] bertjwregeer commented on #30
SNI is not configured correctly.

[2017-03-28 20:34] blaflamme commented on #30
I'll take a look later today, cert is not activated on the domain and if I recall all https will probably route to the main domain by default.

[2017-06-12 18:54] stevepiercy commented on #30
@blaflamme Our GSoC student noticed that we still don't have HTTPS enabled. Please let me know if this is something that I can do.

[2017-06-14 06:25] stevepiercy commented on #30
@mmerickel noted that [sites that are served over HTTPS that use `pylons-sphinx-themes` are not loading that theme's stylesheets](https://pyramid.readthedocs.io/en/latest/). This is [due to](https://github.com/Pylons/pylons-sphinx-themes/blob/master/pylons_sphinx_themes/pylons/layout.html#L4-L5):

[code]

I must change the `href` attribute either to another domain name entirely (suboptimal) or if

[2017-06-14 18:16] stevepiercy commented on #30
@bbangert are you the admin for `static.pylonsproject.org`?

[2017-06-15 00:46] blaflamme commented on #30
@stevepiercy https is installed on pylonsproject.org

[2017-06-16 07:11] stevepiercy commented on #30
I've updated links on the major projects:
* pyramid and its three cookiecutters across all branches
* webob
* deform
* pyramid_debugtoolbar

Marketing Sites:
* pylonsrtd
* trypyramid.com
* pylonsproject.org
* webob.org
* pyramid_cookbook (no changes)
* pyramid_tutorials

[2017-06-16 07:11] #30 closed

[2017-06-16 07:18] stevepiercy opened #55 "Set up static.pylonsproject.org and webob.org on marketing with HTTPS"
I would like access to take all the necessary steps to enable HTTPS for static.pylonsproject.org and webob.org on the Linode box that hosts marketing.pylonsproject.org.

Any documentation that uses pylons-sphinx-themes and is served over HTTPS cannot load the stylesheets or fonts. See https://github.com/Pylons/pylonsproject.org/issues/30#issuecomment-308331719

I have access to the old pylonshq se

[2017-06-16 14:20] blaflamme commented on #55
@stevepiercy can you make the assets available to, like via dropbox, so I can have a copy to install on the server. I'll also have to move webob.org to the box since it's not hosted there, and then I'll be able to add both certs to them.

[2017-06-16 14:48] blaflamme commented on #55
@stevepiercy ok I moved static.pylonsproject.org and webob.org to marketing.pylonsproject.org, setuped nginx to serve them and updated DNS entries. Once they'll be served by the right IP, later today, I'll setup SSL with letsencrypt. So we should have all of them using SSL and static served HTTP+S

[2017-06-16 15:23] mmerickel opened #56 "HTTPS for docs.pylonsproject.org"
It's possible to setup HTTPS for our project (and subproject) documentation if we configure our host properly.

1. Configure a VHOST on our server that can proxy requests from docs.pylonsproject.org to pylons.readthedocs.org by following this nginx configuration guide: https://docs.readthedocs.io/en/latest/alternate_domains.html#cname-ssl

2. Set the `X-RTD-SLUG` proxy header to `pylons`. This is

[2017-06-16 19:57] stevepiercy commented on #55
Thanks @blaflamme.

One more request: redirect HTTP to HTTPS for all sites.

I've got a new release for pylons-sphinx-themes ready to go when you have completed this.

[2017-06-16 20:23] stevepiercy opened #57 "Grant access to core contributors of Pylons Project projects for administration of hosted services"
There should be more than one core contributor who can perform necessary administration of hosted services. That would include:

* DNS
* Domain name registration
* Email
* Web
* Other?

The core contributors would include me, @blaflamme, @mmerickel, @bertjwregeer, @bbangert, and possibly others.

[2017-06-16 20:24] blaflamme commented on #55
@stevepiercy

ok webob.org is active and redirects all to HTTPS, static.pylonsproject.org can serve both.

[2017-06-16 20:31] blaflamme commented on #57
- DNS is done through linode, I can grant access to the CP
- Domain name registration, it's done through my reseller Tucows account, we would need to create a new one elsewhere and move over where we can be multiple to share
- Email is through my RS email hosting account (a paid one), we would then need to move to something else
- Web is on a linode VPS, I can give access to the current setup and

[2017-06-16 22:09] stevepiercy commented on #57
@mmerickel, @bertjwregeer, @bbangert: I've started a checklist at the top of this issue. If interested in having access, then update the issue checklist or reply with the services to which you want to be added.

@blaflamme for each service enumerated above, what do you need from each individual to grant them access?

@blaflamme for Linode services, how would we know that we (Pylons Project) are go

[2017-06-16 22:10] bbangert commented on #57
Could we alleviate the issue with all static websites by moving entirely to GitHub pages? They allow static site generators, and then we'd get auto-deploys with no maintenance and hosting taken care of. Our docs are already that effortless thanks to RTD.

That would leave the DNS, Registration, and any dynamic sites. Do we need any dynamic sites?

[2017-06-16 22:23] stevepiercy opened #58 "Host static websites on GitHub pages"
Discussion started in https://github.com/Pylons/pylonsproject.org/issues/57#issuecomment-309146071

At this moment, none of our sites are dynamic. That includes:

* trypyramid.com
* pylonsproject.org
* static.pylonsproject.org
* webob.org

We have plans to make trypyramid.com dynamic to handle submission and curation of add-ons and "Powered by Pyramid" listings, and possibly other features like th

[2017-06-16 23:50] stevepiercy opened #59 "Access to fonts on static.pylonsproject.org blocked by CORS"
When visiting https://pyramid.readthedocs.io/en/latest/, the font files are blocked from loading by CORS.

Please add a `Access-Control-Allow-Origin` header for `*` [[edited per @mmerickel comment](https://github.com/Pylons/pylonsproject.org/issues/59#issuecomment-309169566)]. See this [serverfault post](https://serverfault.com/q/162429) for further information.

[code]

[2017-06-16 23:51] mmerickel commented on #59
Great timing, I was literally visiting the github repo to mention this issue when your email popped up.

[2017-06-16 23:57] mmerickel commented on #59
This header needs to support `*` not just readthedocs.io unless that's the only place the pylons-sphinx-themes package is allowed to be used. (Hint michael.merickel.org/projects/pyramid_auth_demo is broken right now)

[2017-06-16 23:57] stevepiercy commented on #59
I also [cut another release](https://pypi.python.org/pypi/pylons-sphinx-themes/1.0.2) that removes the protocol, and I'm rebuilding the docs again.

[2017-06-17 07:21] stevepiercy commented on #59
@blaflamme took care of this. https://pyramid.readthedocs.io/en/latest/

[2017-06-17 07:21] #59 closed

[2017-06-17 07:21] stevepiercy commented on #55
Thanks @blaflamme !

[2017-06-17 07:21] #55 closed

[2017-06-17 07:26] stevepiercy commented on #57
I've got access to the web and DNS services. Others are in progress. I'd like to share responsibility with at least one other ~~sucker~~ volunteer. Don't be shy!

[2017-06-17 07:38] stevepiercy opened #60 "nginx will not launch on server reboot"
A manual start of nginx works. But nginx will not launch on server reboot. The server is now running Ubuntu 16.04 LTS.

In `/var/log/nginx/error.log`:

[code]

That's the correct IPv6. I don't know whether nginx ever launched on server reboot. @blaflamme do you know?

I've been Googling for over an hour trying various things, but none work.

[2017-06-17 07:46] stevepiercy commented on #56
Did you mean "proxy requests from docs.pylonsproject.org to pylons.readthedocs._io_"?

[2017-06-17 07:56] mmerickel commented on #56
Yes

[2017-06-17 08:16] stevepiercy commented on #56
@blaflamme it looks like you don't use [certbot](https://certbot.eff.org/#ubuntuxenial-nginx), but some kind of manual process instead. Can you verify or correct what I've dug up?

- add entry to `/etc/hosts` for hostname
- add `/etc/nginx/sites-available/<hostname>.conf`
- symlink `ln -s /etc/nginx/sites-available/<hostname>.conf /etc/nginx/sites-enabled/<hostname>.conf`
- edit `/etc/letsencrypt/

[2017-06-17 13:34] blaflamme commented on #56
it was done before letsencrypt becomes certbot, so the command is /opt/letsencrypt/letsencrypt-auto

feel free to update the process to use latest certbot. at the moment it uses /usr/local/bin/le-renewal, and look at root user crontab, not global one.

[2017-06-17 13:46] blaflamme commented on #60
it looks like nginx was not enabled in systemd, you did an upgrade to ubuntu 16.04? I enabled it so lets see if it starts when you reboot.

[2017-06-17 14:58] blaflamme commented on #60
it looks like when nginx starts up the ipv6 is not available, like if after=network.target is not enough in the systemd service file. I just removed nginx serving out ipv6 for now until the problem is resolved.

[2017-06-17 17:12] stevepiercy commented on #60
For the record, before the upgrade to 16.04, when I did a reboot on 14.04 nginx did not start on reboot, showing the same issue of not binding to IPv6.

I'll try again tonight. Any suggestions appreciated on how to get nginx to launch after reboot with IPv6 configured.

[2017-06-17 17:24] blaflamme commented on #60
it now starts up after a reboot, ipv6 needs fixing... could be how eth0 ipv6 is configured, the systemd nginx service file looks ok.

[2017-06-17 17:35] stevepiercy commented on #60
Perhaps [this answer](https://serverfault.com/a/392926), but for IPv6 instead of IPv4?

Another option is to bind to any address with `listen [::]:443 ssl`.

If you don't get a chance to poke at it today, I'll look at it tonight.

[2017-06-17 17:40] blaflamme commented on #60
But it works for IPv4... I know that Linode provides an auto-network configuration, so I'm asking them about the nginx issue to see if there's something to do with how it works or if we need to go with manual config.

[2017-06-17 18:02] stevepiercy commented on #60
Let me know what Linode says and what you learn.

[2017-06-17 18:26] blaflamme commented on #60
ok fixed... I disabled the auto-network configuration and manually configured eth0 for IPv6, now nginx starts at system reboot.

[2017-06-18 17:41] stevepiercy commented on #60
For our future selves, note changes in `/etc/network/interfaces` as mentioned in this [Linode KB article](https://www.linode.com/docs/networking/linux-static-ip-configuration#ubuntu).

[Another possible option I found](https://serverfault.com/a/421466), but could not get to work:

[code]

Doing a `sleep` during network interfaces startup might have some unintended consequences.

The helpful commen

[2017-06-18 17:41] #60 closed

[2017-06-18 17:42] stevepiercy commented on #56
I'll work on this either Sun or Mon night.

[2017-06-24 08:54] stevepiercy commented on #56
I think I got steps 1-5 above set up correctly, but I'm not altogether sure. My browsers return inconsistent results. Chrome seems to be working by redirecting http to https and getting the certificate for `docs.pylonsproject.org`, but Firefox, Safari, and Opera do not redirect http to https and try to get a certificate from `*.readthedocs.io`. Maybe it's my router.

I found a minor issue in Chrom

[2017-06-24 18:05] stevepiercy commented on #56
Switching my iMac's and router's DNS servers away from my ISP's to OpenDNS's resolved the weirdness. Ugh. Still I'd like a few more eyeballs to verify I didn't make a mistake.

[2017-06-24 18:34] stevepiercy commented on #57
@blaflamme can you provide a list of domain names that you have registered on behalf of the Pylons Project?

[2017-06-24 19:56] blaflamme commented on #57
@stevepiercy they are in the document I sent you out

- pyramidcon.com
- pylonsproject.com
- pylonsproject.net
- pylonsproject.org
- trypyramid.com
- webob.org

[2017-06-26 09:20] stevepiercy commented on #56
I also configured cron to use `/usr/bin/certbot renew` instead of `le-renewal`.

I've enabled caching for `docs.pylonsproject.org` following https://www.nginx.com/blog/nginx-caching-guide/.

If someone would like to verify the configuration, I'd be happy to grant them access.

[2017-06-26 09:20] #56 closed

[2017-06-26 13:26] stevepiercy commented on #57
One more data point: we have about $80 credit remaining with Linode for hosting web and DNS. I downsized the Linode to stretch it farther until about April 2018.

[2017-06-26 13:56] blaflamme commented on #57
@stevepiercy I would suggest you to ask them about extending or adding more credit when time arrives. And if you need more resource they would also probably be happy to give more, as long as you justify the setup.

[2017-06-26 20:08] bertjwregeer commented on #56
Seems to be working without issues.

[2017-09-12 12:41] ikolar commented on #58
Would something like [this](https://ikolar.github.io/pylonsproject.org/index.html) work?

I added a "docs" command into packages.json that runs the dist operation then copies over the files into docs/. I then configured github pages to be hosted from there. I also had to make the urls in nav.ejs relative for now on.

To deploy, after each change, you'd have to "npr run docs" and the commit the cha

[2017-09-12 20:06] stevepiercy commented on #58
Since the time I created this issue, we've implemented HTTPS for all our domains as well as nginx proxy per #56. Would hosting on GitHub pages support this? If not, then I should close this issue as a "won't fix".

How often and how long is there a delay in refreshing GitHub pages? It's not a deal-breaker, but something to be aware of in case we're wondering, "Why didn't my changes take effect?"

[2017-09-13 06:49] ikolar commented on #58
Https is a bit tricky. The github.io subdomain obviuosly supports https, but if you want to secure your own domain you can't do that on github directly. You need to transfer the domain to cloudflare and set up (free) ssl there. See (this issue)[https://github.com/isaacs/github/issues/156] foe details.

The rebuild times are ok but not perfect. The dics say they rebuild on commit, with a soft limit

[2017-09-13 07:04] stevepiercy commented on #58
Thanks for the info. We absolutely want to use custom domains, and the [issue you cited](https://github.com/isaacs/github/issues/156) is not yet resolved. That's a deal-breaker until it gets resolved. I'll leave this issue open.

[2017-09-13 09:01] ikolar commented on #58
Ok.

Offtopic: I've got some spare time in the comming weeks, are there any other simple* pylons/ pyramid issues that need looking at?

[2017-09-13 09:13] stevepiercy commented on #58
Issues marked [sprintable](https://github.com/Pylons/pyramid/labels/sprintable) are a good bet.

[2017-09-16 20:09] bertjwregeer commented on #58
@stevepiercy We could set up a reverse proxy like we did with RTD. Host the site on GitHub.io, but reverse proxy so we get SSL...

[2017-09-17 08:52] stevepiercy commented on #58
@bertjwregeer RTD uses a [custom header, `X-RTD-SLUG`](https://docs.readthedocs.io/en/latest/alternate_domains.html#cname-ssl). Does GitHub.io support something similar, or would it "just work" without a custom header?

[2017-09-17 15:52] bertjwregeer commented on #58
Here's an example page that shows how to do it: https://pascal.io/github-pages-https/

We could make some tweaks to it, and use `proxy_pass` to the `https` address, but that should be all that is required.

[2017-09-17 19:21] stevepiercy commented on #58
OK, let's give it a shot with webob.org as the guinea pig. It's just a single `.html` and `.css` file. I'll work on this tonight.

If successful, then we can apply it to pylonsproject.org and trypyramid.com with @ikolar's suggestion.

[2017-09-17 19:40] mmerickel commented on #58
I expect we're talking about doing this for `pylonsproject.org`, `trypyramid.com` and `webob.org`.

GH Pages offers 3 ways to do this:

1. Create a gh-pages branch which they will serve statically.
2. Serve directly from master (basically assuming the repo only contains the built product).
3. Serve the `/docs` folder in master.

Option 2 is definitely out because we'd need to find another place to

[2017-09-17 19:49] bertjwregeer commented on #58
At Crunch we use Github's pages along with Hugo and travis to push changes back to GH after building. It works pretty well.

[2018-01-12 07:27] stevepiercy opened #61 "Switch certbot from tls-sni-01 to http-01 validation"
For details, see:
https://community.letsencrypt.org/t/2018-01-11-update-regarding-acme-tls-sni-and-shared-hosting-infrastructure/50188

An updated `certbot-auto` should be made available during the week of Jan 15, 2018.

[2018-11-30 03:37] stevepiercy opened #63 "Add PasteDeploy to projects"

[2018-11-30 22:24] stevepiercy opened #64 "Add 404.html"

[2018-11-30 22:25] stevepiercy opened #65 "Add redirect to nginx configuration"
Redirect https://pylonsproject.org/projects/pyramid/ to https://trypyramid.com/

[2020-01-14 23:35] stevepiercy opened #66 "Audit Coding Style standards to comply with black"
Now that we use black, we should update our Coding Style standards.

https://pylonsproject.org/community-coding-style-standards.html

[2020-04-22 20:14] equake opened #75 "Documentation site is down (403)"
Hi,
I'm having trouble reaching https://docs.pylonsproject.org/

[code]

Thanks.

[2020-04-22 21:59] stevepiercy commented on #75
It's not a valid URL. You need to specify a project, for example:
https://docs.pylonsproject.org/projects/pyramid/en/latest/

[2020-04-22 22:16] mmerickel commented on #75
Your valid URL is not working @stevepiercy .

[2020-04-22 22:39] stevepiercy commented on #75
Meh, cache. Can't look into it for a couple hours.

[2020-04-23 00:57] stevepiercy commented on #75
Duplicate of https://github.com/Pylons/pyramid/issues/3574

[2020-04-23 00:57] #75 closed

[2020-05-02 06:13] #61 closed

[2020-05-02 06:14] bertjwregeer commented on #58
This is now completed for pylonsproject.org and try pyramid.com, webob.org is still a special snowflake for right now.

PPO and TPC are both proxied from our Linode instance to Github pages, this way we keep IPv6 support (Github Pages doesn't support it).

[2020-05-07 18:39] #58 closed

[2020-08-04 00:41] #64 closed

[2020-08-04 01:12] #63 closed

[2020-08-04 01:45] stevepiercy commented on #65
Adding the trailing slash to a redirect appears not to work. Reopening.

[2020-08-04 06:02] stevepiercy commented on #65
Nevermind, it was some stupid issue in Chrome and Developer Tools ignoring no cache. `curl -L` or Firefox behave properly.

[2020-08-04 06:02] #65 closed